* { -webkit-user-select: none; }

.nav-item a { -webkit-app-region: no-drag; }

#splash-screen {
    -webkit-app-region: drag !important;
    background-color: var(--bs-color);
    position: fixed;
    display: block;
    height: 100vh !important;
    width: 100% !important;
}

.form-group-gap { margin-top: 6px; }

.modal-backdrop {
    background: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#add-entity-rfid-barcode {
    height: 50px;
}