* { -webkit-user-select: none; }

.navbar { outline: none; }

.nav-item a { -webkit-app-region: no-drag; }

#splash-screen {
    -webkit-app-region: drag !important;
    background-color: var(--bs-color);
    position: fixed;
    display: block;
    height: 100vh !important;
    width: 100% !important;
}

.form-group-gap { margin-top: 6px; }

.modal-backdrop {
    background: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#add-entity-rfid-barcode {
    width: 100%;
    height: 50px;
}

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.row.equal-cols:before, .row.equal-cols:after {
	display: block;
}

.row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 22px;
}
  
.row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}