Monitoria-Attendance-Installer-Generator/node_modules
Monitoria-Attendance-System/.pio
Monitoria-Attendance-System/.vscode/.browse.c_cpp.db*
Monitoria-Attendance-System/.vscode/c_cpp_properties.json
Monitoria-Attendance-System/.vscode/launch.json
Monitoria-Attendance-System/.vscode/ipch
Monitoria-Attendance-Web-App/node_modules